/*/!*******************************************************************************
*                                                                             *
* TreeView                                                                    *
*                                                                             *
******************************************************************************!/*/

.tree-view {
    -fx-background-color: white;
    -fx-background-insets: 0.5;
    -fx-border-color: rgb(156.0, 156.0, 156.0) rgb(190.0, 190.0, 190.0) rgb(190.0, 190.0, 190.0) rgb(190.0, 190.0, 190.0);
    -fx-border-width: 1.0;
    -fx-border-insets: 0.0;
}

.tree-view > .virtual-flow > .clipped-container > .sheet > .tree-cell:filled:selected > .tree-disclosure-node > .arrow,
.tree-view > .virtual-flow > .clipped-container > .sheet > .tree-cell:selected > .tree-disclosure-node > .arrow,
.tree-cell:filled:hover > .tree-disclosure-node > .arrow,
.tree-table-row-cell:filled:hover > .tree-disclosure-node > .arrow {
    -fx-background-color: rgb(134.0, 134.0, 134.0);
}

/*Выделение выбранной ячейки*/
.tree-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-cell:filled:focused:selected,
.tree-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-cell:filled:selected,
.tree-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-cell:filled:selected:hover,
.tree-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-cell:filled:focused:selected:hover {
    -fx-background-color: #0096c9;
    -fx-text-fill: white;
}

/*Выделение при наведении мыши*/
.tree-view > .virtual-flow > .clipped-container > .sheet > .tree-cell:filled:hover,
.tree-table-row-cell:filled:hover,
.tree-view > .virtual-flow > .clipped-container > .sheet > .tree-cell:filled:selected:hover,
.tree-table-row-cell:filled:selected:hover {
    -fx-background-color: -fx-cell-hover-color;
    -fx-text-fill: -fx-text-base-color;
}
